head {
  background-color: aquamarine;
  color: black;
}
body {
  background-color: white;
  color: #000;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: blue;
}
hr {
  color: brown;
}
* {
  box-sizing: border-box;
}

.clm {
  float: left;
  width: 33.33%;
  padding: 3px;
  border: solid black;
}
table,
tr,
th,
td,
caption {
  border: solid black;
}
h2 {
  text-align: center;
}
nav {
  display: flex;
  padding: 20px;
}
nav a {
  display: flex;
  width: 200px;
  margin-left: 10%;
  text-decoration: none;
  color: white;
}
nav {
  background-color: #ff6f61;
}
#menu {
  display: flex;
  flex-direction: column;
}
.table-1,
.table-2 {
  display: flex;
  flex-wrap: wrap;
}
.table-1 {
  box-sizing: border-box;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.table-2 {
  box-sizing: border-box;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
#OrderNow h2 a {
  color: #fff;
  background-color: red;
  font-size: 30px;
  text-decoration: none;
}
#OrderNow h2 a:hover {
  background-color: green;
}
form {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}
label{
    color: rgb(94, 193, 28);
    text-align: center;
}
input {
    position: relative;
    background-color: rgba(153, 153, 153, 0.629);
    align-self: center;

}
footer {
  text-align: center;
}
footer a {
    text-decoration: none;
    color: red;
    background-color: yellow;
}
.foot a {
  text-align: center;
  margin-left: 5%;
  color: red;
  background-color: yellow;

}
.bell {
  text-align: center;
  color: red;
  background-color: #ff6f61;
}
button{
    display: inline-block;
    background-color: blue;
    color: #fff;
    border: #fff;
    border-radius: 5px;
    margin-left: 5%;
}
button:hover{
    background-color:green
}
address {
  text-align: center;
  background-color: #ff6f61;
}
address a {
    color: #fff;
    text-decoration: none;
}
address-hover {
  color: green;
}
